{% extends 'castlebase.html' %}
{% load static %}
{% block content %}

<div class="about-container">
    <div class="row">
        <p class="deck">This puzzle originally appeared at the end of Square Enix's 1999 game <strong>Final Fantasy VIII</strong>, and I was inspired to try recreating it as a simple web application. I'm pleased with how well this <strong>escape room</strong>-style puzzle translated to a point-and-click interface.</p>

        <p class="deck">I obtained all the assets using the screen-capture feature on a Nintendo Switch, transferred them to my computer where I edited out the character sprites and stitched the various pieces of the rooms together in Photoshop. Then I used Python's Django framework to create the programming logic and web application. In total, the project took around 15 hours to complete, not counting the time spent swearing at JavaScript.</p>

        <p class="deck">This app keeps track of your progress as you play, which is why it's necessary to create an account beforehand. Otherwise it would not be possible to track the progress of a given player, and only one person could play at a time (and annoyingly, I would have to manually reset the app each time).</p>

        <p class="deck">The codebase is available as a public repository <a href="https://github.com/eea76/castle_puzzle" target="_blank">on Github</a> for anyone interested in the technical details. To report any problems, suggestions, or to learn more about how I built this, you can email me at elon.arbiture@gmail.com. Thanks.</p>

        <a href="/">Back</a>
    </div>
</div>

{% endblock %}
