{% extends "base.html" %}
{% load static %}
{% block content %}

<a class="about" href="/about">about</a>
<div class="image-container">

    <div class="art-gallery">

        <div id="balcony_overhead">
            <map name="balcony_overhead">
                <area
                    href="/painting/vividarium"
                    shape=poly
                    coords="1425,350, 1450,350, 1450,575, 1425,650, 1350,550">

                <area
                    href="/painting/inandantia"
                    shape=poly
                    coords="800,350, 875,350, 875,425, 800,425">

                <area
                    href="/painting/ignus"
                    shape=poly
                    coords="600,350, 675,350, 675,400, 600,400">

                <area
                    href="/unnamed"
                    shape=poly
                    coords="350,400, 375,580, 225,750, 175,550">

                <area
                    href="/painting/xiphias"
                    shape=poly
                    coords="850,35, 950,35, 950,100, 850,100">

                <area
                    href="/painting/xerampelinae"
                    shape=poly
                    coords="710,35, 800,35, 775,110, 710,110">

                <area
                    href="/painting/xystus"
                    shape=poly
                    coords="550,35, 650,35, 650,100, 550,100">

                <area
                    href="/painting/inaudax"
                    shape=poly
                    coords="400,40, 440,35, 450,135, 400,150">

                <area
                    href="/painting/iudicium"
                    shape=poly
                    coords="1000,390, 1035,400, 1020,475, 990,450">

                <area
                    href="/painting/venus"
                    shape=poly
                    coords="1050,50, 1075,50, 1075,150, 1050,135">

            </map>

            <img src="https://ultimeciacastle.s3-us-west-2.amazonaws.com/screens/balcony_overhead.png" usemap="#balcony_overhead">
        </div>

        <hr>

        <a href="/balcony_front">Go Back</a>
    </div>



</div>



{% endblock %}
