{% extends "base.html" %}
{% load static %}
{% block content %}

<a class="about" href="/about">about</a>
<div class="image-container">

    <div class="art-gallery">
        <div id="balcony_front">
            <map name="balcony_front">
                <area
                    href="/painting/venus"
                    shape=poly
                    coords="75,225, 150,210, 150,310, 60,325">

                <area
                    href="/painting/vividarium"
                    shape=poly
                    coords="1000,110, 1125,100, 1150,250, 1000,250">

                <area
                    href="/painting/vigil"
                    shape=poly
                    coords="600,300, 685,300, 680,360, 600,360">

                <area
                    href="/painting/viator"
                    shape=poly
                    coords="375,250, 435,280, 435,350, 375,350">

            </map>

            <img src="https://ultimeciacastle.s3-us-west-2.amazonaws.com/screens/balcony_front.png" usemap="#balcony_front">
        </div>

        <hr>

        <a href="/balcony_overhead">Keep Walking</a>
        <a href="/">Go Downstairs</a>
    </div>



</div>



{% endblock %}
