{% extends "base.html" %}
{% load static %}
{% block content %}


<div class="login-container">
    <p class="deck">Hello yes and please login or create an account to play this GAME (this is necessary so multiple people can play at a time).</p>

    <p class="deck">Playing on a mobile device or touch-screen is not recommended, but it'll still work.</p>

    <a href="/login"><h4>Login</h4></a>

    <p>Don't have an account? <a href="/signup">Create one here THANKS</a></p>
</div>



{% endblock %}
