{% extends "base.html" %}
{% load static %}
{% block content %}

{% if user.is_authenticated %}
<div class="image-container">

    <div class="art-gallery">
        <div id="ground-floor">
            <map name="ground-floor">
                <area
                    href="/unnamed"
                    shape=poly
                    coords="50,200, 160,250, 160,475, 50,500">

                <area
                    href="/painting/5"
                    shape=poly
                    coords="400,400, 475,400, 475,450, 400,450">

                <area
                    href="/painting/6"
                    shape=poly
                    coords="600,375, 675,375, 675,450, 600,450">

                <area
                    href="/painting/8"
                    shape=poly
                    coords="1175,380, 1275,385, 1275,500, 1175,500">

                <area
                    href="/painting/15"
                    shape=poly
                    coords="635,75, 735,80, 735,140, 635,140">

                <area
                    href="/painting/14"
                    shape=poly
                    coords="500,60, 560,60, 560,150, 510,150">

                <area
                    href="/painting/10"
                    shape=poly
                    coords="810,50, 840,50, 840,135, 810,135">

                <area
                    href="/painting/9"
                    shape=poly
                    coords="800,375, 835,375, 835,450, 810,450">

            </map>

            <img src="https://ultimeciacastle.s3-us-west-2.amazonaws.com/screens/ground_final.png" usemap="#ground-floor">
        </div>

        <hr>

        <a href="/balcony_front">Go Upstairs</a>
    </div>



</div>

{% else %}

<div class="login-container">
    <p class="deck">Hello yes and please login or create an account to play this GAME (this is necessary so multiple people can play at a time).</p>

    <p class="deck">Playing on a mobile device or touch-screen is not recommended.</p>

    <a href="/login"><h4>Login</h4></a>

    <p>Don't have an account? <a href="/signup">Create one here THANKS</a></p>
</div>

{% endif %}



{% endblock %}
