{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="painting-container">

    <div class="painting">
        <img src="{{painting.painting.url}}" />
    </div>

    <hr>

    <div class="painting-info">
        <div class="painting-name">
            <h1>{{painting.name}}</h1>
        </div>

        <div class="painting-translation">
            <h5>({{painting.translation}})</h5>
        </div>

        <hr>

        <button onclick="goBack()">Back</button>
    </div>
</div>

<script>
    function goBack() {
        window.history.back();
    }
</script>

{% endblock %}
