{% extends "base.html" %}
{% load static %}
{% block content %}


<a class="about" href="/about">about</a>
<div class="image-container">

    <div class="art-gallery">
        <div id="{{room.room}}">
            <map name="{{room.room}}">
                {% for painting in paintings %}
                <area
                    href="/painting/{{painting.painting}}"
                    shape=poly
                    coords="{{painting.coordinates}}">
                {% endfor %}
            </map>

            <img src="{{room.image}}" usemap="#{{room.room}}">
        </div>

        <hr>

        {% for link in links %}
        <a href="/room/{{link.href}}">{{link.text}}</a>
        {% endfor %}
    </div>

</div>



{% endblock %}
