{% extends "castlebase.html" %}
{% load static %}
{% block content %}


{% for link in links %}
    <a class="navigation" href="/room/{{link.href}}">{{link.text}}</a>
{% endfor %}

<a class="about" href="/hint">need a hint?</a>
<a class="about" href="/about">about</a>
<div class="image-container">

    <div class="art-gallery">
        <div id="{{room.room}}">
            <map name="{{room.room}}">
                {% for painting in paintings %}
                <area
                    href="/painting/{{painting.painting}}"
                    shape=poly
                    coords="{{painting.coordinates}}">
                {% endfor %}
            </map>

            <img src="{{room.image}}" usemap="#{{room.room}}">
        </div>

    </div>

</div>



{% endblock %}
