{% extends "base.html" %}
{% load static %}
{% block content %}

<div class="painting-container">

    <div class="painting">
        <img src="https://ultimeciacastle.s3-us-west-2.amazonaws.com/screens/unnamed.png" />
    </div>

    <div class="painting-info">
        <div class="painting-translation">
            <h5>(This painting's title is smudged)</h5>
        </div>

                <div class="painting-name unnamed-painting">
            <h1 class="unnamed-painting-title"></h1>
        </div>
    </div>

</div>

<div class="titles-container">
    <div class="painting-info">




        <div class="viewed-paintings">
            <ul class="viewed-paintings-list">
                {% for painting in viewed_paintings %}
                <li class="viewed-painting">{{painting.name|upper}}</li>
                {% endfor %}
            </ul>
        </div>

        <div class="submit-title">
            <div class="submitted-title">Submit <span id="submitted-title"></span>?</div>

            <div class="buttons">
                <div class="submit-button submit">Yes</div>
                <div class="submit-button start-over">Try Again</div>
            </div>
        </div>



        <hr>

        <button onclick="goBack()">Back to Gallery</button>
    </div>
</div>

<div class="results-modal">
    <div class="image-container">
        <img src="https://ultimeciacastle.s3-us-west-2.amazonaws.com/screens/unnamed.jpg" />
    </div>

    <div class="title-text">
        <h1>{{english}}</h1>
        <h5>{{latin}}</h5>
    </div>
</div>

<script>
    function goBack() {
        window.history.back();
    }
</script>

{% endblock %}
