/*global*/

a {
    color: #794d14;
    text-decoration: none;
}

a:hover {
    color: #9b631b;
}



/*ground*/

.image-container {
    margin-top: 2em;
}

.image-container .art-gallery {
    text-align: center;
    font-family: 'Oranienbaum', serif;
    font-size: 2em;
}

.image-container .art-gallery img {
    width: 100%;
}



/*paintings*/

.painting-container {
    width: 500px;
    margin: 0 auto;
    text-align: center;
    margin-top: 2em;
}

.painting-container img {
    width: 100%;
}

.painting-name {
    text-transform: uppercase;
    font-family: 'Oranienbaum', serif;
}

.painting-name h1 {
    margin-bottom: 0;
}

.painting-translation {
    text-transform: capitalize;
    /*font-size: 2em;*/
    opacity: .7;
}

/*unnamed painting*/

.unnamed-painting.painting-name {
    background: #fff8e4;
    min-height: 50px;
    text-align: center;
    padding: 0 15px;
}

.viewed-paintings {
    text-align: left;
}

.viewed-paintings-list {
    list-style-type: none;
    margin: 20px 0;
}

.viewed-paintings-list li {
    cursor: pointer;
    font-family: 'Oranienbaum', serif;
    font-size: 1.5em;
    display: inline-block;
    padding: 0 10px;
}

.viewed-paintings-list li:hover {
    opacity: .7;
}
